@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --button-color: #00ebc7;
    --secondary-color: #ff5470;
    --tertiary-color: #ffeb7c;
    --main-color: #194988; 
    --main-bg-color: ##fffffe;
    --main-margin: 1rem 0 1rem 0;
    --main-fontsize: 1rem;
}   

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background: var(--main-color);
    color: #fff;
    box-sizing: border-box;
}

main {
    border: .6rem solid #fff;
    border-radius: 2rem;
    max-width: 80%;
    margin: 2% auto;
    padding: 2%;
}

main h1:nth-of-type(1) {
    margin: 0 0 1.5rem 0;
}

h1, p {
    text-align: center;
    letter-spacing: .2rem;
    margin: 2rem 0 0 0;
    color: var(--button-color);
}

h2 {
    font-size: var(--main-fontsize);
    text-align: center;
}

#roundsBox {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

div label:nth-of-type(1) {
    margin: 0 1rem 0 0;
}

form div:nth-of-type(2) {
    margin: 0 0 1rem 0;
}

#roundsBox, h2 {
    margin: var(--main-margin);
}

div, #counterPoints {
    padding: 1.5% 0 1.5% 0;
}

label {
    font-size: var(--main-fontsize);
}

#roundCounter {
    margin: 0 0 2rem 0;
    display: none;
}

#counterPoints {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 1% auto;
    border: .4rem solid #fff;
    border-radius: 1rem;
}

#result {
    font-size: .8rem;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;
}

#icons img:hover {
    transform: scale();
    
}

/* #icons img:active {
    filter: drop-shadow(0px 0px 10px var(--button-color));
} */

#icons img {
    border-radius: 1rem;
    transition: box-shadow 1s ease;
}

#goodbye {
    display: flex;
    flex-direction: column;
    margin: 4rem 0 0 0;
}

button {
    padding: 2.5%;
    margin: 2rem 0 0 0;
    border: none;
    border-radius: .5rem;
    background: var(--button-color);
    color: var(--main-color);
    width: 20%;
    align-self: center;
    transition: background .5s ease;
}

button:focus {
    outline: none;
}

button:hover {
    background: var(--tertiary-color);
}

.win {
    box-shadow: 0px 0px 31px 0px var(--button-color);
}

.lose {
    box-shadow: 0px 0px 31px 0px var(--secondary-color);
}

.draw {
    box-shadow: 0px 0px 31px 0px var(--tertiary-color);
}