@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --button-color: #00ebc7;
    --secondary-color: #ff5470;
    --tertiary-color: #ffeb7c;
    --main-color: #194988; 
    --main-bg-color: ##fffffe;
}   

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    box-sizing: border-box;
}

body {
    background: var(--main-color);
}

main {
    /* border: .6rem solid #fff; */
    border-radius: 2rem;
    max-width: 80%;
    margin: 3% auto;
    padding: 2%;
    background: linear-gradient(145deg, #17427a, #1b4e92);
    box-shadow:  10px 10px 30px #153e74, 
             -10px -10px 30px #1d549c;
}

main h1:nth-of-type(1) {
    margin: 0 0 1.5rem 0;
}

h1 {
    font-size: 1.5rem;
}

h1, p {
    text-align: center;
    letter-spacing: .2rem;
    margin: 2rem 0 0 0;
    color: var(--button-color);
}

p {
    font-size: .8rem;
    color: #fff;
}

h2 {
    font-size: 1rem;
    text-align: center;
}

#roundsBox {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

label {
    font-size: 1rem;
}

div label:nth-of-type(1) {
    margin: 0 1rem 0 0;
}

form div:nth-of-type(2) {
    /* margin: 0 0 1rem 0; */
}

#roundsBox, h2 {
    margin: 1rem 0 1rem 0;
}

div, #counterPoints {
    padding: 1.5% 0 1.5% 0;
}

#roundCounter {
    margin: 0 0 2rem 0;
    display: none;
}

#counterPoints {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 1% auto;
    border: .4rem solid #fff;
    border-radius: 1rem;
}

#move {
    margin: 3rem 0 2.5rem 0;
}

#icons {
    display: flex;
    justify-content: center;
}

/* border-radius ist hier wichtig, weil der JS win/lose/draw Effekt sonst die Ecken sichtbar macht */
#icons img {
    max-width: 7rem;
    border-radius: .8rem;
    transition: box-shadow, opacity .5s ease;
    margin: 0 3rem;
    cursor: pointer;
}

#restartBox {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

button {
    padding: 1.5% 5%;
    border: none;
    border-radius: .5rem;
    background: var(--button-color);
    color: var(--main-color);
    align-self: center;
    transition: background .5s ease;
}

button:focus {
    outline: none;
}

button:hover {
    background: var(--tertiary-color);
}

/* Cutom Radio Buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--main-color);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}


/* diese Styles werden durch JavaScript getriggered */
/* diese werden den Icons zugewiesen */
.win {
    box-shadow: 0px 0px 31px 0px var(--button-color);
}

.lose {
    box-shadow: 0px 0px 31px 0px var(--secondary-color);
}

.draw {
    box-shadow: 0px 0px 31px 0px var(--tertiary-color);
}

/* diese werden den dem Text zugewiesen */
.resultWin {
    color: var(--button-color);
}

.resultLose {
    color: var(--secondary-color);
}

.resultDraw {
    color: var(--tertiary-color);
}


